#demo
    padding: 100px 0
    display: flex
    justify-content: center
    .col-md-6
        margin: auto
        .chat
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            background: #afbeda
            width: 500px
            height: 300px
            border-radius: 20px
            border: 2px solid #8695eb
            h3
                display: inline-block
                background: #d6cd2b
                color: #ffff
                border-radius: 40px
                margin: 10px
                padding: 7px 13px

            .message
                width: 480px
                height: 220px
                border-radius: 20px
                background: #ffff
                overflow: auto
                .end
                    text-align: end

            .text
                display: flex
                justify-content: center
                align-items: center
                padding-top: 20px

                input
                    border-radius: 15px
                    padding: 6px 15px
                .sent
                    display: inline-block
                    h3
                        flex-direction: row
                        border: 1px solid #d6cd2b
                        background: #d6cd2b
                        color: #ffff
                        display: flex
                        justify-content: center
                        margin: 0 5px
                        padding: 6px
                        width: 65px
                        border-radius: 20px
