#demo
    padding: 100px 0
    .col-md-6
        margin: auto
        .chat
            display: flex
            justify-content: center
            align-items: center
            flex-direction: column
            background: #afbeda
            width: 500px
            height: 300px
            border-radius: 20px
            .message
                width: 450px
                height: 200px
                border-radius: 20px
                background: #ffff
                .line
                    width: 50px
                    height: 30px
                    border-radius: 10px
                    background: #d6cd2b
                    h2
                        text-align: center
                        margin: 5px 0
                        color: #ffff
            .text
                display: flex
                align-items: center
                padding-top: 20px
                .sent
                    width: 50px
                    height: 30px
                    border-radius: 10px
                    background: #d6cd2b
                    h3
                        text-align: center
                        margin: 5px 0
                        color: #ffff
